Repository fauust/ansible-role-mariadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-prettier

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for Python debug statements
      - id: trailing-whitespace
        name: Check trailing whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 3.9.2
    hooks:
      - id: flake8
        name: Check python (flake8)
        args: ["--ignore=E501,E226"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
        name: Check yaml files (yamllint)
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v5.0.11
    hooks:
      - id: ansible-lint
        name: Check ansible files (ansible-lint)
        # https://github.com/ansible/ansible-lint/issues/1066
        always_run: false
        # args: ["-x", "602"]
        exclude_types: [markdown, shell]
        types: [yaml]
  - repo: local
    hooks:
      - id: docker-markdownlint
        name: Run markdownlint with docker
        entry: markdownlint/markdownlint -r "~MD013"
        language: docker_image
        types: [markdown]
      - id: docker-shell-shfmt
        name: Run shfmt with docker
        entry: mvdan/shfmt:v3.3.0 -d -i 2 -ci
        language: docker_image
        types: [shell]
      - id: docker-shell-lint
        name: Run shellcheck with docker
        language: docker_image
        entry: koalaman/shellcheck:stable
        types: [shell]
      - id: docker-prettier
        name: Run prettier with docker
        entry: tmknom/prettier:latest -l
        language: docker_image
        files: "\\.(\
          css|less|scss\
          |graphql|gql\
          |html\
          |js|jsx\
          |json\
          |md|markdown|mdown|mkdn\
          |mdx\
          |ts|tsx\
          |vue\
          |yaml|yml\
          )$"

Update CI status badges
  README.md
Due: docker-markdownlint, docker-prettier

Add a warning when replication is activated
  templates/my.cnf.j2
Due: none

Using podman for github actions
  .github/workflows/molecule.yml
  molecule/default/molecule.yml
  requirements.txt
Due: docker-prettier

Upgrading mariadb recreate my.cnf symlink
  README.md
  defaults/main.yml
  mariadb.cnf
  molecule/default/tests/test_default.py
  tasks/configure.yml
  templates/mariadb.cnf.j2
Due: docker-markdownlint, docker-prettier

Improve molecule options
  molecule/default/molecule.yml
Due: docker-prettier

Enhance and clean Makefile
  Makefile
Due: none

Run molecule test in rootless mode
  .github/workflows/molecule.yml
Due: docker-prettier

Iest against Ubuntu LTS and add debian11
  .github/workflows/molecule.yml
Due: docker-prettier

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: docker-prettier

Broken mirror
  README.md
  defaults/main.yml
  molecule/default/converge-mdbf.yml
Due: docker-markdownlint, docker-prettier

Bump trigger galaxy action
  .github/workflows/trigger-galaxy.yml
Due: docker-prettier

Target new Debian stable version by default
  Makefile
  molecule/default/molecule.yml
Due: docker-prettier

Make archive.mariadb.org the default mirror
  README.md
  defaults/main.yml
  molecule/default/converge-mdbf.yml
Due: docker-markdownlint, docker-prettier

Fix shellcheck warning
  files/mariadb_dump_db.sh
Due: none

Upgrade pre-commit
  .pre-commit-config.yaml
Due: docker-prettier

Bumb latest ansible version
  requirements.txt
Due: none

Ansible 2.12 compatibility
  molecule/default/converge-mdbf.yml
  molecule/default/converge.yml
  tasks/replication_replica.yml
  tasks/setup.yml
Due: docker-prettier

Move repo to mirror redirector
  README.md
  defaults/main.yml
  molecule/default/converge-mdbf.yml
Due: docker-markdownlint, docker-prettier

Implement dependabot
  .github/dependabot.yml
Due: docker-prettier

Ansible linting
  handlers/main.yml
  tasks/backup.yml
  tasks/configure.yml
  tasks/replication_replica.yml
  tasks/setup.yml
Due: docker-prettier

Bump pre-commit tools versions
  .pre-commit-config.yaml
Due: docker-prettier

Adapt to new MDBF mirror
  README.md
  defaults/main.yml
  molecule/default/converge-mdbf.yml
Due: docker-markdownlint, docker-prettier

Rename master branch
  .github/workflows/trigger-galaxy.yml
Due: docker-prettier

fixup! Rename master branch
  .github/workflows/trigger-galaxy.yml
Due: docker-prettier

fixup! fixup! Rename master branch
  meta/main.yml
Due: docker-prettier

Ubuntu 22.04 released
  .github/workflows/molecule.yml
  meta/main.yml
Due: docker-prettier

Increase test coverage for MDBF versions
  .github/workflows/molecule.yml
  molecule/default/converge-mdbf.yml
  molecule/default/tests/test_default.py
  tasks/setup.yml
Due: docker-prettier

Update pre-commit action and versions
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  tasks/backup.yml
  tasks/setup.yml
Due: docker-prettier

Ubuntu 21.04 is not a LTS
  .github/workflows/molecule.yml
Due: docker-prettier

Make new version of ansible-lint happy
  .pre-commit-config.yaml
  handlers/main.yml
  meta/main.yml
  tasks/configure.yml
Due: docker-prettier

Drop python2 support
  tasks/setup.yml
Due: docker-prettier

Add 10.10 and remove mysql command
  .github/workflows/molecule.yml
  molecule/default/tests/test_default.py
Due: docker-prettier

Don't use apt-key that is deprecated
  tasks/setup.yml
Due: docker-prettier

Add rhel based distro support
  .github/workflows/molecule.yml
  README.md
  defaults/main.yml
  molecule/default/mdbf.yml
  molecule/default/molecule.yml
  molecule/default/tests/test_default.py
  molecule/default/vars/Debian.yml
  molecule/default/vars/RedHat.yml
  molecule/default/verify.yml
  requirements.txt
  tasks/backup.yml
  tasks/configure.yml
  tasks/main.yml
  tasks/setup_debian.yml
  tasks/setup_redhat.yml
  vars/Debian.yml
  vars/RedHat.yml
Due: docker-markdownlint, docker-prettier

Increase galaxy supported distributions
  meta/main.yml
Due: docker-prettier

Improve doc and split/filter CI
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
  README.md
Due: docker-markdownlint, docker-prettier

Lint with latest ansible-lint version
  .pre-commit-config.yaml
  README.md
  tasks/databases.yml
  tasks/main.yml
  tasks/replication_master.yml
  tasks/users.yml
Due: docker-markdownlint, docker-prettier

Pre-commit helper
  Makefile
  README.md
Due: docker-markdownlint, docker-prettier

Add cluster testing in CI (close #26)
  .github/workflows/test_cluster.yml
  .github/workflows/test_mdbf.yml
  molecule/cluster/converge.yml
  molecule/cluster/molecule.yml
  molecule/cluster/verify.yml
  molecule/vagrant/converge.yml
  molecule/vagrant/molecule.yml
  molecule/vagrant/vars/Debian.yml
  molecule/vagrant/vars/RedHat.yml
  molecule/vagrant/vars/testvars.yml
  molecule/vagrant/verify.yml
  tasks/replication_replica.yml
Due: docker-prettier

Remove master namming
  Makefile
  README.md
  defaults/main.yml
  molecule/cluster/molecule.yml
  molecule/cluster/verify.yml
  molecule/default/vars/testvars.yml
  molecule/vagrant/vars/testvars.yml
  tasks/main.yml
  tasks/replication_primary.yml
  tasks/replication_replica.yml
  templates/mariadb.cnf.j2
Due: docker-markdownlint, docker-prettier
