Repository fauust/ansible-role-mariadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-prettier

docker-markdownlint:
  name: Run markdownlint with docker
  entry: markdownlint/markdownlint -r "~MD013"
  language: docker_image

docker-prettier:
  name: Run prettier with docker
  entry: tmknom/prettier:latest -l
  language: docker_image

Improve documentation
  .codespellrc
  .pre-commit-config.yaml
  README.md
Due: docker-markdownlint, docker-prettier

Documentation and add tags
  .github/workflows/trigger-galaxy.yml
  README.md
Due: docker-markdownlint, docker-prettier

Almalinux and Rockylinux are included in EL platforms
  meta/main.yml
Due: docker-prettier

Implement MDBF cluster deployment
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_mdbf.yml
  molecule/cluster/mdbf.yml
  tasks/setup_redhat.yml
Due: docker-prettier

Add new CI badge
  README.md
Due: docker-markdownlint, docker-prettier

Shorten CI step name
  .github/workflows/test_cluster.yml
Due: docker-prettier

Refactor when: mariadb_use_official_repo in a block
  tasks/setup_debian.yml
Due: docker-prettier

Bump pre-commit tools versions
  .pre-commit-config.yaml
Due: docker-prettier

get_url module always detect a change in checkmode
  tasks/setup_debian.yml
Due: docker-prettier

Be less verbose in CI
  molecule/cluster/molecule.yml
  molecule/default/molecule.yml
Due: docker-prettier

Fetch images from ghcr.io
  molecule/cluster/molecule.yml
  molecule/default/molecule.yml
Due: docker-prettier

Add 10.11 testing
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Bump pre-commit tools version
  .pre-commit-config.yaml
Due: docker-prettier

Add .gitignore
  .gitignore
Due: none

Don't use template delimiters in conditions
  molecule/default/verify.yml
  molecule/vagrant/verify.yml
Due: docker-prettier

Format .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: docker-prettier

Fix sid distribution release repositories
  tasks/setup_debian.yml
Due: docker-prettier

Enable signed-by in debian repository source.list
  tasks/setup_debian.yml
Due: docker-prettier

Add deb822 sources for mariadb repository
  README.md
  defaults/main.yml
  tasks/setup_debian.yml
Due: docker-markdownlint, docker-prettier

10.5 is no more installable on Debian Sid
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Role is now compatible not only with Debian/Ubuntu
  README.md
Due: docker-markdownlint, docker-prettier

Typos and no-changed-when ansible-lint rules
  tasks/setup_debian.yml
Due: docker-prettier

Ansible-lint is not compatible with galaxy metadata
  .ansible-lint
Due: none

Add Debian 12 and MariaDB 11.0
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

10.11 next LTS in documentation
  README.md
Due: docker-markdownlint, docker-prettier

Bump molecule version
  .gitignore
  Makefile
  requirements.txt
  requirements.yml
Due: docker-prettier

Bookworm is not GA
  tasks/setup_debian.yml
Due: docker-prettier

Typo, as recommended by Debian wiki
  tasks/setup_debian.yml
Due: docker-prettier

The pgp version of the key is now available too
  tasks/setup_debian.yml
Due: docker-prettier

Yamllint
  .ansible-lint
  .github/dependabot.yml
  .yamllint
Due: docker-prettier

Downgrade podman to make the GitHub runner work again
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Codename trixie is now in sid docker images
  tasks/setup_debian.yml
Due: docker-prettier

https://github.com/actions/runner-images/issues/7753 fixed
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Increase coverage with new MariaDB version and distrib
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Make the role compatible with Alpine linux
  .github/workflows/test_cluster.yml
  .github/workflows/test_default.yml
  README.md
  handlers/main.yml
  meta/main.yml
  molecule/cluster/verify.yml
  molecule/default/vars/Alpine.yml
  molecule/default/verify.yml
  requirements.yml
  tasks/main.yml
  tasks/setup_alpine.yml
  tasks/setup_debian.yml
  tasks/setup_redhat.yml
  vars/Alpine.yml
  vars/Debian.yml
Due: docker-markdownlint, docker-prettier

Idempotency problem
  handlers/main.yml
Due: docker-prettier

Bump pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

fixup! Make the role compatible with Alpine linux
  vars/Alpine.yml
Due: docker-prettier

Path conditions:
  docker-markdownlint: any of: \.(md|markdown|mdown)$
  docker-prettier: any of: \.(css|less|scss|graphql|gql|html|js|jsx|json|md|markdown|mdown|mkdn|mdx|ts|tsx|vue|yaml|yml)$
