Repository fauust/ansible-role-mariadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-prettier

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
        name: Check yaml files
      - id: trailing-whitespace
        name: Check trailing whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        name: Check yaml files (yamllint)
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v6.8.6
    hooks:
      - id: ansible-lint
        name: Check ansible files (ansible-lint)
        # https://github.com/ansible/ansible-lint/issues/1066
        always_run: false
        # args: ["-x", "602"]
        exclude_types: [markdown, shell]
        types: [yaml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files
        entry: codespell
        language: python
  - repo: local
    hooks:
      - id: docker-markdownlint
        name: Run markdownlint with docker
        entry: markdownlint/markdownlint -r "~MD013"
        language: docker_image
        types: [markdown]
      - id: docker-shell-shfmt
        name: Run shfmt with docker
        entry: mvdan/shfmt:v3.4.3 -d -i 2 -ci
        language: docker_image
        types: [shell]
      - id: docker-shell-lint
        name: Run shellcheck with docker
        language: docker_image
        entry: koalaman/shellcheck:stable
        types: [shell]
      - id: docker-prettier
        name: Run prettier with docker
        entry: tmknom/prettier:latest -l
        language: docker_image
        files: "\\.(\
          css|less|scss\
          |graphql|gql\
          |html\
          |js|jsx\
          |json\
          |md|markdown|mdown|mkdn\
          |mdx\
          |ts|tsx\
          |vue\
          |yaml|yml\
          )$"

fix(doc): change version in doc 10.10 to 10.6
  README.md
Due: docker-markdownlint, docker-prettier

fix(typo): change Lincense => License
  README.md
Due: docker-markdownlint, docker-prettier

Add new distrib
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Switch to uv
  Makefile
Due: none

Missing uv dependency
  .github/workflows/composite-action/action.yml
Due: docker-prettier

Missing composite action trigger
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Fedora 41 not ready for MDBF
  .github/workflows/test_cluster.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Add support for resource_limits when creating database users
  defaults/main.yml
  molecule/default/vars/testvars.yml
  tasks/users.yml
Due: docker-prettier

Verification that users are created missing
  molecule/default/verify.yml
Due: docker-prettier

Fix molecule roles searching
  Makefile
  molecule/cluster/molecule.yml
  molecule/default/molecule.yml
  molecule/vagrant/converge.yml
  molecule/vagrant/molecule.yml
  molecule/vagrant/vars/Debian.yml
  molecule/vagrant/vars/RedHat.yml
  molecule/vagrant/vars/testvars.yml
  molecule/vagrant/verify.yml
Due: docker-prettier

Update molecule doc and requirements
  README.md
  requirements.txt
Due: docker-markdownlint, docker-prettier

Bump pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

Implement automated exports and backup
  .github/workflows/backup.yml
Due: docker-prettier

Better step name
  .github/workflows/backup.yml
Due: docker-prettier

One backup per week is OK
  .github/workflows/backup.yml
Due: docker-prettier

fixup! One backup per week is OK
  .github/workflows/backup.yml
Due: docker-prettier

Add a sanity check for backups
  .github/workflows/backup.yml
Due: docker-prettier

PR can be opened during the export
  .github/workflows/backup.yml
Due: docker-prettier

s
  .github/workflows/backup.yml
Due: docker-prettier

Long lines
  .github/workflows/backup.yml
Due: docker-prettier

Trigger backup
  .github/workflows/backup.yml
Due: docker-prettier

fixup! Trigger backup
  .github/workflows/backup.yml
Due: docker-prettier

Add backup step in verify
  molecule/default/verify.yml
  tasks/setup_alpine.yml
  tasks/setup_debian.yml
  tasks/setup_redhat.yml
Due: docker-prettier

Disable check for Alpine Linux until segfault is fixed
  molecule/default/verify.yml
Due: docker-prettier

Review matrix distro tests
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
  .gitignore
Due: docker-prettier

Add new alpine version
  .github/workflows/test_cluster.yml
  .github/workflows/test_default.yml
Due: docker-prettier

11.8 is GA
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Makefile should not be dependant of direnv or similar
  Makefile
Due: none

Fix MDBF repo deployments on Fedora
  .github/workflows/test_mdbf.yml
  README.md
  molecule/default/verify.yml
  tasks/setup_alpine.yml
  tasks/setup_debian.yml
  tasks/setup_redhat.yml
  vars/Alpine.yml
  vars/Debian.yml
  vars/RedHat.yml
Due: docker-markdownlint, docker-prettier

Remove EOL Ubuntu 20.04
  .github/workflows/test_cluster.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Fix galaxy import
  .github/workflows/trigger-galaxy.yml
Due: docker-prettier

Fix #50: adapt pid file default path
  tasks/setup_redhat.yml
  vars/RedHat.yml
Due: docker-prettier

Add Fedora 42 testing and use latest GH runner
  .github/workflows/test_cluster.yml
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_default.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier

Molecule testing broken with latest ansible
  requirements.txt
Due: none

10.5 is EOL
  .github/workflows/test_cluster_mdbf.yml
  .github/workflows/test_mdbf.yml
Due: docker-prettier
